{% extends "base.html" %}

{% block title %}
Thermos Bookmark App - Welcome!
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome!</h1>
            <p>Thermos is a simple social bookmarking app that makes saving your faves easy and fun.</p>
        </header>
        <section>
            <h2>Recently Added</h2>
            {% if new_bookmarks %}
                <ul>
                    {% for bm in new_bookmarks %}
                        <li> {{ bm.user }} added <a href="{{ bm.url }}">{{ bm.url }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                No bookmarks yet.
            {% endif %}
        </section>
        <section>
            <h2>Article section h2</h2>
            <p>Chocolate bar danish ice cream marshmallow. Tiramisu toffee cupcake pudding. Bonbon gummies liquorice icing. Sweet gingerbread jujubes cheesecake toffee tiramisu sugar plum. Candy soufflé tart croissant marzipan pastry gummies halvah. </p>
        </section>
    </article>
{% endblock %}
